---
# tasks file for role-webhost-certificate
- name: Include distro-specific variables
  include_vars: "vars/{{ ansible_facts['os_family'] }}.yml"

- name: Make sure acme.sh is installed
  include_tasks: "install_acmesh.yml"

- name: Ensure account.conf exists
  file:
    path: "{{ acme_paths['install_path'] }}/account.conf"
    state: touch
    mode: '0600'
  changed_when: false

- name: Remove any existing credential entries
  lineinfile:
    path: "{{ acme_paths['install_path'] }}/account.conf"
    regexp: "^SAVED_{{ item.key }}="
    state: absent
  loop:
    - { key: 'CF_Token', value: "{{ CF_TOKEN | default('') }}", provider: 'dns_cf' }
    - { key: 'DNSAPI_AUTH_TOKEN', value: "{{ DNSAPI_AUTH_TOKEN | default('') }}", provider: 'dns_dnsapi' }
    - { key: 'DNSAPI_SERVERS', value: "{{ DNSAPI_SERVERS | default('') }}", provider: 'dns_dnsapi' }
  when:
    - item.value != ''
    - acme_domains | selectattr('provider', 'equalto', item.provider) | list | length > 0

- name: Add acme.sh account credentials
  lineinfile:
    path: "{{ acme_paths['install_path'] }}/account.conf"
    line: "SAVED_{{ item.key }}='{{ item.value | trim }}'"
    create: yes
    mode: '0600'
  loop:
    - { key: 'CF_Token', value: "{{ CF_TOKEN | default('') }}", provider: 'dns_cf' }
    - { key: 'DNSAPI_AUTH_TOKEN', value: "{{ DNSAPI_AUTH_TOKEN | default('') }}", provider: 'dns_dnsapi' }
    - { key: 'DNSAPI_SERVERS', value: "{{ DNSAPI_SERVERS | default('') }}", provider: 'dns_dnsapi' }
  when:
    - item.value != ''
    - acme_domains | selectattr('provider', 'equalto', item.provider) | list | length > 0

- name: Check for and potentially provision LE certificates
  include_tasks: provision_certificates.yaml
  with_items:
    - "{{ acme_domains }}"
